
.pokemon {
  margin: 0.5rem;
  border-radius: 1rem;
}

.about {
  background-color: #fff;
  border-radius: 1rem;
  padding: 1rem;
  margin-top: -1rem;
  color: #383838;
}
.description {
  display: flex;
  flex-direction: column;
}
.description h1 {
  text-align: left;
  text-transform: capitalize;
  margin: 0rem 0.5rem 0 1rem;
  color: #fff;
}
.description.pokemon .types {
  padding: 0;
  margin: 0 0.5rem;
  list-style: none;
}

.description.pokemon .types .type {
  color: #fff;
  padding: 0.25rem 1rem;
  margin: 0.75rem 0.5rem;
  font-size: 0.825rem;
  border-radius: 1rem;
  filter: brightness(1.1);
  text-align: center;
  float: left;
}

.mark {
  font-weight: bold;
}
span.mark {
  position: absolute;
}
.mark-value{
  padding-left: 100px;
}
.content {
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-start;
  justify-content: space-around;
  gap: 1rem;
  height: auto;
}
.wrap img {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  width: 100%;
  margin: auto;
}
span.number {
  color: #fff;
  text-align: right;
  font-size: .925rem;
  margin: 3rem 1.5rem 0 1rem;
}

@media screen and (min-width: 280px) {
  .wrap {
    display: flex;
    align-items: center;
    width: 90vw;
  }
  .wrap img {
    width: 70%;
    margin: auto;
  }
}
@media screen and (min-width: 380px) {
  .wrap img {
    width: 50%;
    margin: auto;
  }
}
@media screen and (min-width: 576px) {
  .wrap img {
    width: 35%;
    margin: auto;
  }
}
@media screen and (min-width: 758px) {
  .content {
    flex-direction: row;
  }
  .wrap {
    width: auto;
  }
  .wrap img {
    width: 250px;
    margin: auto;
  }
}
